@{
    ViewBag.Title = "Shell Page";
}


<br />
<br />

<html>
<head>
    <title>title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div id="react">
    </div>
    
    <script src="~/js/mvc/jquery-1.10.2.min.js"></script>
    <script src="~/js/mvc/bootstrap.min.js"></script>
    <script src="~/js/mvc/jquery.signalR-2.2.0.js"></script>
    <script src="http://localhost:64895/signalr/hubs"></script>
    <script src="~/js/build/dist/bundle.js"></script>
</body>
</html>
